<section class="bg-white py-8ax-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relativez-20 z-20">

  <div class="lg:col-span-12">
    <div class="container max-w-5xl mx-auto m-8">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Yay! You're on Rails </h1>
    </div>
  </div>

  <div class="lg:col-span-6 mt-10 mx-auto z-40">
    <h3 class="font-semibold text-2xl text-gray-700">Under the hood</h3>
      <ul class="list-disc leading-relaxed pl-4 pt-2">
        <li class="pb-1">Powered by <%= link_to "Ruby on Rails 7", "https://rubyonrails.org", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %></li>
        <li class="pb-1"><%= link_to "Docker", "https://www.docker.com/", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> Dockerfile for new applications</li>
        <li class="pb-1"><%= link_to "Friendly ID", "https://github.com/norman/friendly_id", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> preconfigured for pretty URLs.</li>
        <li class="pb-1"><%= link_to "Devise", "https://github.com/heartcombo/devise", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> authentication strategies out of the box.</li>
        <li class="pb-1"><%= link_to "Rspec", "https://github.com/rspec/rspec-rails", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> Rspec for Test Driven Development</li>
        <li class="pb-1"><%= link_to "Stripe", "https://stripe.com", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> JS and the <%= link_to "Stripe gem", "https://rubygems.org/gems/stripe/", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> installed by default for modern payment solutions.</li>
        <li class="pb-1"><%= link_to "Tailwind CSS", "https://tailwindcss.com", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %>.</li>
        <li class="pb-1">Customized and easily themeable Devise views.</li>
        <li class="pb-1">View helpers for quick form styling with Tailwind CSS.</li>
        <li class="pb-1">Custom scaffold templates.</li>
      </ul>
    <div class="mt-6">
      <a href="https://www.buymeacoffee.com/t0nylombardi" class="z-20" target="_blank">
        <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&amp;emoji=&amp;slug=webcrunch&amp;button_colour=f0f0f0&amp;font_colour=333333&amp;font_family=Cookie&amp;outline_colour=333333&amp;coffee_colour=555555">
      </a>
    </div>
  </div>


  <div class="lg:col-span-6 mx-auto">
    <h3 class="font-semibold text-2xl text-gray-700">Useful links</h3>
    <ul class="list-disc leading-loose pl-4 mb-2 text-sm">
      <li>
        <%= link_to "Rails Guides", "https://guides.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Rails API Documentation", "https://api.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Rails Forum", "https://discuss.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Devise Docs", "https://github.com/heartcombo/devise", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Rspec Docs", "https://www.lambdatest.com/learning-hub/rspec-ruby", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Friendly ID Docs", "https://github.com/norman/friendly_id", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
      <li>
        <%= link_to "Tailwind CSS Docs", "https://tailwindcss.com/docs/installation", class: "underline text-indigo-600 hover:text-indigo-700" %>
      </li>
    </ul>
  </div>
  
</section>

  <div class="lg:block hidden">
    <svg class="fixed bottom-0 left-0 right-0 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#a2d9ff" fill-opacity="1" d="M0,192L40,176C80,160,160,128,240,112C320,96,400,96,480,128C560,160,640,224,720,250.7C800,277,880,267,960,261.3C1040,256,1120,256,1200,261.3C1280,267,1360,277,1400,282.7L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
    </svg>

    <svg class="fixed bottom-5 left-0 right-0 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#f3f4f5" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,176C672,128,768,64,864,53.3C960,43,1056,85,1152,90.7C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  </div>
</div>
